<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--Content for the edit Operation-->
<div class="container"></div>
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="Name">Name of Assignment</label>
                    <input type="text" class="form-control" id="Name" placeholder="Enter the assignment Title" name="Name" required>
                </div>
                <div class="form-group">
                    <label for="Teacher">Name of Teacher</label>
                    <input type="text" class="form-control" id="Teacher" placeholder="Enter the Teacher Name" name="Teacher" required>
                </div>
                <div class="form-group">
                    <label for="Subject">Class</label>
                    <input type="text" class="form-control" id="Subject" placeholder="Enter the Subject" name="Subject" required>
                </div>
                <div class="form-group">
                    <label for="Description">Assignment Description</label>
                    <textarea type="text" class="form-control" id="Description"  placeholder="Enter the assignment Description" name="Description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="Due">Due Date</label>
                    <input type="text" class="form-control" id="Due" placeholder="Enter assignment due date" name="Due" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit
                <i class="fas fa-edit"></i></button>  
                <button class="btn btn-warning" type="button" 
                 onclick="window.history.back()">Cancel
                    <i class="fas fa-undo"></i></button>
                       
            </form>
        </div>
    </div>
</div>
<%- include ../Partials/footer.ejs%>